<div id="appbar">
    <h2 class="logo">
        <span class="logo-inside">
            <img src="assets/images/logo-icon.svg" alt="{{appMeta.name}}">
        </span>
    </h2>
    <nav id="main-nav">
      <ul>
        <li class="calendar" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-calendar.svg"></md-icon></a></li>
        <li class="contacts active" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-multi-user.svg"></md-icon></a></li>
        <li class="phone" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-phone.svg"></md-icon></a></li>
        <li class="mail" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-wallet.svg"></md-icon></a></li>
        <li class="performance" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-mail.svg"></md-icon></a></li>
        <li class="performance" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-speedometer.svg"></md-icon></a></li>
        <li class="gear" md-ink-ripple><a><md-icon md-svg-src="assets/images/icons/icon-gear.svg"></md-icon></a></li>
      </ul>
    </nav>
    <a class="avatar" style="background-image:url(https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-1/p320x320/12987152_1258907480804493_8748961160833049288_n.jpg?oh=44c4edaf91e3fcc28d47047dda15884f&oe=58150770)"></a>
</div>
